/* navigation menu */
.logo {
  width: 150px;
  height: 150px;
  display: inline-block;
  cursor: pointer;
}

/* footer */
.page-footer {
  background-color: #81C784;
  color: #fff;
}

.page-footer li {
  margin-bottom: 15px;
  font-size: 18px;
}
.page-footer a {
  color: #fff;
  text-decoration: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

thead>tr>th:first-of-type {
  display: none
}

/* not found page */

.page-not-found {
  float: left;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.page-not-found_paragraph {
  display: block;
  width: 100%;
  float: none;
  margin-bottom: 30px;
  font-size: 18px;
  color: dark;
  font-weight: bold;
}

.page-not-found_link {
  display: block;
  color: grey;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}

.page-not-found__link:hover {
  color: grey;
  text-decoration: none;
}
